
.body{
   background: rgba(27, 26, 26, 0.3);

}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  border-style: solid;

  margin-top: 10px;
  margin-bottom: 10px;

  padding: .75rem;
  color: #000;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.entrada{
  display: grid;
  grid-template-columns: repeat(3,320px);
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .entrada{
    grid-template-columns: repeat(2,320px);
  }

}

