.btn{
    margin-bottom: 80px
}
.modal {
	width: 10%;
	height: 200px;
	background: rgba(0,0,0,0.8);
	
	position: absolute;
	top: 0;
	left: 0;
	
	display: flex;
	
	animation: modal 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
}
