.services-content{
    font-size: 2.5em;
}

#services{
  margin-top: 10px;
}

.icon{
    text-align: center;
}
.body{
  background: rgba(27, 26, 26, 0.3);
  color: #000;
  margin: 10px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  }


