<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">JC Developer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Inicio</a>
          </li>
          <!--
           -->
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/sobremi']">Sobre mi</a>
          </li>
          <!--
           -->
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/portafolio']">Portafolio</a>
          </li>
          <!--
           -->
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/service']">Servicios</a>
          </li>
          <!--
           -->
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </li>
          <li *ngIf="!identity" class="nav-item">
              <a class="nav-link" [routerLink]="['/register']">Registrarse</a>
          </li>
          <li *ngIf="identity" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administracion
                      </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a *ngIf="identity && identity.roles.roles=='administrador'" class="dropdown-item" [routerLink]="['/perfiladd']">Agregar Perfil</a>
                  <a *ngIf="identity && identity.roles.roles=='administrador'" class="dropdown-item" [routerLink]="['/educacionadd']">Agregar Educacion</a>
                  <a *ngIf="identity && identity.roles.roles=='administrador'" class="dropdown-item" [routerLink]="['/portafolioadd']">Agregar Portafolio</a>
                  <a *ngIf="identity && identity.roles.roles=='administrador'" class="dropdown-item" [routerLink]="['/userslist']">Lista de Usuarios</a>
                  <div class="dropdown-divider"></div>
                  <a *ngIf="identity && identity.roles.roles=='administrador' || identity && identity.roles.roles=='Usuario'" class="dropdown-item" [routerLink]="['/postadd']">Nuevo Post</a>
              </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let c of cate" routerLinkActive='active'>
                <a class="dropdown-item" [routerLink]="['/categoria',c._id]" >{{c.categoria}}</a>
              </div>

            </div>
        </li>

          <!-- <li>
                <a [routerLink]="['/admin']">Blog</a>
            </li> -->


          <li *ngIf="identity" class="nav-item">
              <a class="nav-link" (click)="logout()">Cerrar Session</a>
          </li>
          <label for=""><input type="checkbox" name="on" id="on" #chek (change)="on=chek.checked"></label>

          <div *ngIf="!identity && on" style="display:inline-flex " class="font-login">
              <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
                  <div class="form-group">
                      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" id="inputEmail" class="form-control mr-sm-2" placeholder="Email" required="" autofocus="">

                      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" id="inputPassword" class="form-control mr-sm-2" placeholder="Contraseña" required="">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar Session</button>
                  </div>

              </form>
          </div>

      </ul>
      <form #searchForm="ngForm" class="form-inline my-2 my-lg-0" role="search" (ngSubmit)="SearchPost(search.value)">
          <input (ngkeyup)="SearchPost(search.value)" #search class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button> -->
          <a class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/SearchPost',search.value]">Buscar</a>
      </form>


  </div>
</nav>

