.title{
  font-family: "minecraft";
}

a{
  color: black;
}

.cont{
  margin-bottom: 100px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*Font*/
@font-face {
  font-family: "Christmas";
  src: url("../assets/font/miraculous_christmas/Miraculous&Christmas.ttf") format("truetype")
}

@font-face {
  font-family: "boots_spurs";
  src: url("../assets/font/boots_spurs/Boots&Spurs_personal_use_only.ttf") format("truetype")
}

@font-face {
  font-family: "minecraft";
  src: url("../assets/font/minecrafter/Minecrafter.Alt.ttf") format("truetype")
}
@media (max-width: 576px) {
  .img{
         width: 100%;
         display: none;

     }


}


@media (max-width: 768px) {
 .img{
   width: 100%;


}

.title{
  font-size: 1em;
  text-align: center;
}

}

@media (max-width: 992px) {
 .img{
   width: 100%;


}

.title{
  font-size: 1.3em;
  text-align: center;
}

}


@media (min-width: 1200px) {


}
