
  <div class="body">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">JC Developer</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" [routerLink]="['/home/2']">Blog</a>
            <a class="nav-link" [routerLink]="['/sobremi']">Nosotros</a>
            <a class="nav-link" [routerLink]="['/contacto']">Contactanos</a>
          </nav>
        </div>
      </header>



      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenido a JC DEV.</h1>
        <p class="lead">Hola soy Jorge Castillo gracias por visitar nuestro sitio web. Somos un equipo que nos dedicamos al diseño y desarrollo
          de software. Contamos con lo mejor en tecnologia para cubrir con las necesidades tecnologicas de tu empresa o negocio.
        </p>
        <p class="lead">
          <a [routerLink]="['/sobremi']" class="btn btn-lg btn-secondary">Leer Más</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>
  </div>




