<app-navbar></app-navbar>

<div class="container" >
  <div class="row">
    <div class="col-6" *ngIf="!identity">
      <div *ngIf="errorMessage" class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong>{{errorMessage}}
              </div>

          <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-signin">
            <h2 class="form-signin-heading"></h2>
            <label for="inputEmail" class="sr-only">Iniciar Sessión</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Recordar
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Session</button>
          </form>
    </div>

    <div class="col-8" *ngIf="identity" >

      <!-- <label for="">Checkear para agregar Experiencia o Estudios<input class="form-control" type="checkbox" name="" id="" #chek (change)="perfil_exp=chek.checked"></label>  -->
<!-- <div *ngIf="!perfil_exp"> -->
      <form #perfilForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="">Nombre de Experiencia</label>
        <input type="text" name="nameexp" #nameexp="ngModel" [(ngModel)]="perfil.nameexp" id="inputEmail" class="form-control" placeholder="Introduzca el Texo" required="" autofocus="">

      </div>
      <div class="form-group">
        <label for="">Descripcion Experiencia</label>
        <textarea #txtdescripcion_experiencia="ngModel" [(ngModel)]="perfil.descrip_exp" class="form-control" id="txtdescrpcion_experiencia" name="txtdescripcion_experiencia"  placeholder="Indroduzca la Descripcion" cols="30" rows="10"></textarea>
      </div>

      <div class="form-group">
        <label for="">Nombre de la Empresa</label>
        <input #txtempresa="ngModel" [(ngModel)]="perfil.name_empresa" type="text" class="form-control" id="txtempresa" name="txtempresa"  placeholder="Indroduzca la Descripcion">

      </div>

      <div class="form-group">
        <label for="">Descripcion Empresa</label>
        <textarea #txtdescripcion_empresa="ngModel" [(ngModel)]="perfil.descrip_empresa" class="form-control" id="txtdescrpcion_empresa" name="txtdescripcion_empresa"  placeholder="Indroduzca la Descripcion" cols="30" rows="10"></textarea>

      </div>

      <div class="form-group">
        <label for="">Fecha de Inicio</label>
        <input #txtfexha_inicio="ngModel" [(ngModel)]="perfil.fecha_inicio"  class="form-control" type="date" name="txtfecha_inicio" id="txtfecha_inicio">
      </div>

      <div class="form-group">
        <label for="">Fecha Final</label>
        <input #txtfecha_final="ngModel" [(ngModel)]="perfil.fecha_final" class="form-control" type="date" name="txtfecha_final" id="txtfecha_final">
      </div>


      <input class="btn btn-success" type="submit" value="{{titulo}}"/>
    </form>
  <!-- </div> -->



    </div>


  </div>


</div>

