<app-navbar></app-navbar>


    <div class="progress" *ngIf="u">
      <div class="indeterminate"></div>
   </div>

   <div class="container">
     <div class="row">
       <div class="col-12">
              <div class="col-12" *ngFor="let post of posts">
                <div class="card">
                    <img class="card-img-top" src="{{url+'get-video-post/'+post.image}}" alt="Card image cap">

                    <div class="card-content">
                      <h3>
                        <a class="" [routerLink]='["/postdetails",post.slug]'>{{post.title}}</a>
                      </h3>
                      <div class="mb-1 text-muted">{{post.date}}</div>
                      <div class="col-sm-12 col-12 col-md-12 col-lg-12">{{post.resume}}</div>

                    </div>
                </div>
          </div>
       </div>
     </div>
   </div>




<app-footer></app-footer>

