<app-navbar></app-navbar>
<section id="contact" class="body">

		<div class="container">
   		<div class="col-12">


   			<h1 class="text-center">Contactanos...</h1>

   			<p class="lead">Sera un placer comunicarnos con usted. Llamanos o envianos un e-mail y asi trabajaremos juntos por el progreso de tu equipo.</p>

   		</div>
	   </div>

	   <div class="container marketing">

				  <!-- Three columns of text below the carousel -->
				  <div class="row">
					<div class="col-lg-4">
						<span class="icon"><i class="fas fa-map-marker-alt fa-3x"></i></span>
					  <h3></h3>
					  <p>El Sauce-Leon</p>
					  <p>Nicaragua,CA</p>
					  <p>22800 NI</p>

					</div><!-- /.col-lg-4 -->

					<div class="col-lg-4">
						<span class="text-center"><i class="fas fa-at fa-3x"></i></span>

					  <p>jorgecastillodeveloper@gmail.com</p>

					</div><!-- /.col-lg-4 -->

					<div class="col-lg-4">
						<span class="icon"><i class="fas fa-phone-volume fa-3x"></i></span>
						<p>Telefono: (+505) 2319-2618<br>
							Celular: (+505) 8616-5414<br>
								  / (+505) 8130-3747
						</p>
					</div><!-- /.col-lg-4 -->

				  </div><!-- /.row -->
	   </div>

	</section> <!-- /contact -->
<app-footer></app-footer>
