<app-navbar></app-navbar>
<app-facecomponent></app-facecomponent>
    <div class="row">
        <div class="col-12">
             <div class="card" *ngFor="let pub of publication">
                <img class="card-img-top" src="{{url+'get-video-post/'+pub.image}}" alt="Card image cap">
                <div class="card-content ">
                    <h5 class="card-title"><a rel="canonical" [routerLink]='["/postdetails",pub.slug]'>{{pub.title}}</a></h5>
                    <p class="card-text">{{pub.resume}}</p>
                    <p class="card-text"><small class="text-muted">Publicado por: {{pub.user.name}} {{pub.user.surname}}</small></p>
                    <p class="card-text"><small class="text-muted">{{pub.date}}</small></p>
                </div>
            </div>
        </div>
    </div>




    <!-- <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" *ngFor="let pub of publication">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{pub.title}}</h1>
        <p class="lead my-3">{{pub.resume}}</p>
        <p class="lead mb-0"><a [routerLink]='["/postdetails",pub._id]' class="text-white font-weight-bold">Leer Mas...</a></p>
      </div>
    </div> -->
    <div class="container" *ngIf="u">
        <div class="row">
            <div id="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="lading"></div>
            </div>
        </div>
    </div>


    <!-- <i *ngIf="u" class="fa far fa-cog u" style="font-size:24px; "></i> -->


    <div *ngFor="let post of posts">


            <div class="col-sm-12 col-md-8 card-content">
              <img class="card-img-top" src="{{url+'get-video-post/'+post.image}}" alt="Card image cap">
              <blockquote class="blockquote mb-0 card-body">
                <p><a  [routerLink]='["/postdetails",post.slug]'>{{ post.title }}</a></p>
                <footer class="blockquote-footer">
                  <small class="text-muted">
                    {{ post.date }} <cite title="Source Title">By {{ post.user.name }} {{ post.user.surname }}</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <br><br>
        </div>


    <ul class="pagination pull-right">
        <a class="btn btn-danger" [routerLink]="['/home',page]"><i class="fas fa-plus"></i></a>

    </ul>
<app-footer></app-footer>
