<app-navbar></app-navbar>

<div *ngIf="identity">

    <div class="container">
      <div class="row">
        <div class="col-8">


      <form #educacionForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="">Nombre de Titulo</label>
        <input type="text" name="name_titulo" #name_titulo="ngModel" [(ngModel)]="perfil.nameexp" id="inputEmail" class="form-control" placeholder="Introduzca el Texo" required="" autofocus="">

      </div>
      <div class="form-group">
        <label for="">Descripcion de Estudio</label>
        <textarea #txtdescripcion_estudio="ngModel" [(ngModel)]="perfil.descrip_exp" class="form-control" id="txtdescrpcion_titulo" name="txtdescripcion_experiencia"  placeholder="Indroduzca la Descripcion" cols="30" rows="10"></textarea>
      </div>

      <div class="form-group">
        <label for="">Nombre de la Institucion</label>
        <input #txtinstitucion="ngModel" [(ngModel)]="perfil.name_empresa" type="text" class="form-control" id="txtinstitucion" name="txtinstitucion"  placeholder="Indroduzca la Descripcion">

      </div>

      <div class="form-group">
        <label for="">Descripcion de la Institucion</label>
        <textarea #txtdescripcion_institucion="ngModel" [(ngModel)]="perfil.descrip_empresa" class="form-control" id="txtdescrpcion_institucion" name="txtdescripcion_institucion"  placeholder="Indroduzca la Descripcion" cols="30" rows="10"></textarea>

      </div>

      <div class="form-group">
        <label for="">Fecha de Inicio</label>
        <input #txtfexha_inicio="ngModel" [(ngModel)]="perfil.fecha_inicio"  class="form-control" type="date" name="txtfecha_inicio" id="txtfecha_inicio">
      </div>

      <div class="form-group">
        <label for="">Fecha Final</label>
        <input #txtfecha_final="ngModel" [(ngModel)]="perfil.fecha_final" class="form-control" type="date" name="txtfecha_final" id="txtfecha_final">
      </div>


      <input class="btn btn-success" type="submit" value="{{titulo}}"/>
    </form>
  </div>

  </div>
  </div>
  </div>
