<app-navbar></app-navbar>

<!-- Portfolio Section
   ================================================== -->

     <div class="container body">
       <div class="row">
         <div class="col-12 col-md-12 entrada">

             <div *ngFor="let portafolio of portafolios">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url + 'get-image-portafolio/' + portafolio.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{portafolio.titulo}}</h5>
                  <p class="card-text">{{portafolio.descripcion}}</p>
                  <a [routerLink]="['/updateportafolio',portafolio._id]" *ngIf="identity && identity.roles.roles=='administrador'" class="btn btn-success">Editar Portafolio</a>
                  <a class="btn btn-danger" *ngIf="identity && identity.roles.roles=='administrador'" (click)="onDeletePortafolio(portafolio._id)">Eliminar</a>
                </div>
                </div>

              </div>

         </div>
       </div>
     </div>



     <div class="fb-comments" data-width=""></div>
<app-footer></app-footer>
