<app-navbar></app-navbar>

<div *ngIf="identity">

        <div class="container">
          <div class="row">
            <div class="col-8">


          <form #educacionForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="">Titulo</label>
            <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="portafolio.titulo" id="inputEmail" class="form-control" placeholder="Introduzca el Texo" required="" autofocus="">

          </div>
          <div class="form-group">
            <label for="">Tipo</label>
            <textarea #tipo="ngModel" [(ngModel)]="portafolio.tipo" class="form-control" id="tipo" name="tipo"  placeholder="Indroduzca la Descripcion" cols="30" rows="10"></textarea>
          </div>

          <div class="form-group">
            <label for="">Titulo para Modal</label>
            <input #titulo2="ngModel" [(ngModel)]="portafolio.titulo2" type="text" class="form-control" id="txtinstitucion" name="txtinstitucion"  placeholder="Indroduzca la Descripcion">

          </div>

          <div class="form-group">
            <label for="">Descripcion para Modal</label>
            <textarea #descripcion="ngModel" [(ngModel)]="portafolio.descripcion" class="form-control" id="txtdescrpcion_institucion" name="txtdescripcion_institucion"  placeholder="Indroduzca la Descripcion" cols="30" rows="10"></textarea>

          </div>

          <div class="form-group">
                <label for="">Categoria</label>
                <input #categoria="ngModel" [(ngModel)]="portafolio.categoria" type="text" class="form-control" id="txtinstitucion" name="txtinstitucion"  placeholder="Indroduzca la Descripcion">

              </div>


              <div *ngIf="is_edit">
                <div class="image_for_edit" *ngIf="portafolio.image && portafolio.image != 'null'">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-4">
                        <img src="{{url+'get-image-portafolio/'+portafolio.image}}" alt="" class="img img-responsive">
                      </div>
                    </div>
                  </div>

                </div>
                <p>
                  <label>Sube la imagen del artista</label>
                  <input type="file" name="" value="" placeholder="Subir Imagen..." (change)="fileChangeEvent($event)">
                </p>
              </div>


          <input class="btn btn-success" type="submit" value="{{titulo}}"/>
        </form>
      </div>

      </div>
      </div>
      </div>
