<app-navbar></app-navbar>
<!-- <div class="col col-8">
  <div class="row">
    <div [innerHTML] = "publicacion.description" class="col-12 col-sm-12">

    </div>
  </div>
</div> -->
<div class="container body">

  <h4>Compartir</h4>
  <fb-share href="http://www.jorgecastillodeveloper.pro/"></fb-share>

        <!-- <a > <strong class="d-inline-block mb-2 text-primary">{{post.title}}</strong></a> -->
        <!-- <div *ngIf="publicacion.video!='null'">
          <div class="col-sm-12 col-12 col-md-12 col-lg-12" *ngIf="publicacion.video && publicacion.video != 'null'">
            <video width="100%" controls src="{{url+'get-video-post/'+publicacion.video}}"></video>
          </div>
        </div> -->

        <div class="container" *ngIf="publicacion.video && publicacion.video!= 'null'">
          <section class="panel panel-info">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
              <youtube-player
                width='100%'
                height=500
                [videoId]="publicacion.video"
                (ready)="savePlayer($event)"
                (change)="onStateChange($event)"
              >
              </youtube-player>
            </div>
          </section>

        </div>

        <div class="col-sm-12 col-12 col-md-12 col-lg-12" *ngIf="publicacion.image && publicacion.image != 'null'">
            <img class="img img-responsive" width="100%"  src="{{url+'get-image-post/'+publicacion.image}}">
        </div>

        <div class="col-sm-12 col-12 col-md-12 col-lg-12" [innerHTML] = "publicacion.description"></div>

        <div *ngIf="identity">
          <a class="btn btn-warning" *ngIf="identity && identity._id==publicacion.user || identity.roles.roles=='administrador'" [routerLink]='["/postedit",publicacion.slug]'>Editar el Post</a>
          <a class="btn btn-danger" *ngIf="identity  && identity._id==publicacion.user || identity.roles.roles=='administrador'" (click)="onDeletePost(publicacion._id)">Eliminar el Post</a>
        </div>

        <h4>Dejatus comentarios</h4>
        <fb-comments numposts="3"></fb-comments>

</div>

<app-footer></app-footer>
