<app-navbar></app-navbar>
<app-facecomponent></app-facecomponent>
<div class="container">



    <div class="row mb-2 col-12 col-sm-12 col-md-8" *ngFor="let post of posts">
        <div class="col-md-12">
            <img class="card-img-top" src="{{url+'get-video-post/'+post.image}}" alt="Card image cap">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <!-- <a > <strong class="d-inline-block mb-2 text-primary">{{post.title}}</strong></a> -->
                    <h3 class="mb-0">
                        <a class="" [routerLink]='["/postdetails",post.slug]'>{{post.title}}</a>

                    </h3>


                    <div class="mb-1 text-muted">{{post.date}}</div>
                    <div class="col-sm-12 col-12 col-md-12 col-lg-12">{{post.resume}}</div>
                    <!-- <div class="col-sm-12 col-12 col-md-12 col-lg-12">{{post.user.name}}</div>  -->

                </div>

                <!-- <img class="img img-responsive card-img-right flex-auto d-none d-md-block" src="{{url+'get-image-post/'+post.image}}" alt="Card image cap"> -->
            </div>
        </div>
        <!-- <ul class="pagination pull-right">
             <a class="btn btn-danger" [routerLink]="['/categoria',post.category,page]"><label>Cargar Más...</label></a>
        </ul> -->

    </div>



</div>
<app-footer></app-footer>
