<app-navbar></app-navbar>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Nueva Categoria</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #categoriaForm="ngForm" (ngSubmit)="saveCat()">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre de Categoria</label>
        <input required="required" name="categoria" #categoria="ngModel" [(ngModel)]="cat.categoria" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Categoria">
      </div>
      <input class="btn btn-dark" type="submit" value="Agregar">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>





<div class="col col-12" *ngIf="identity">
    <div class="row">
        <div class="col-12">
          <img class="img img-responsive" *ngIf="u" src="../../assets/img/giphy.gif" alt="">
          <h2 *ngIf="u">Cargando Archivo...Por Favor No salga de Esta Pagina</h2>
          <form *ngIf="!u" class="form-control" (ngSubmit)="onSubmit()" #postForm="ngForm">
                <div class="form-group">
                     <label>Tutulo: </label>
                     <input class="form-control" type="text" name="title" id="title" #title="ngModel" [(ngModel)]="post.title">
                </div>

                <div class="form-group">
                  <label>Resumen: </label>
                  <textarea class="form-control" name="resume" id="resume" cols="30" rows="10" #resume="ngModel" [(ngModel)]="post.resume"></textarea>
             </div>

                <div class="form-group">
                  <ckeditor [(ngModel)]="post.description" [config]="{uiColor: '#ffffff'}"
                  [config]="{extraPlugins: 'youtube'}"


                  debounce="500"
                  name="description">

                  </ckeditor>

                </div>

                <div ckeditor="cke.options"
                ng-model="cke.content"
                ready="cke.onReady()"></div>
                <div class="col-sm-12 col-12 col-md-12 col-lg-12" *ngIf="is_edit">
                    <div class="image_for_edit" *ngIf="post.image && post.image != 'null'">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-4">
                             <img src="{{url+'get-image-post/'+post.image}}" width="100%" alt="" class="img img-responsive">
                          </div>
                        </div>
                      </div>

                    </div>
                    <p>
                      <label>Sube la imagen del Post</label>
                      <input type="file" name="file" value="" placeholder="Subir Imagen..." (change)="fileChangeEvent($event)">
                    </p>
                  </div>



                  <div class="form-group">
                    <label >Id Video</label>
                    <input class="form-control" #video="ngModel" [(ngModel)]="post.video" type="text" name="video" id="video">
                  </div>

                  <div class="form-group">
                    <label >Categoria: </label>
                    <select  class="form-control" name="category" id="category" #category="ngModel" [(ngModel)]="post.category">
                      <option *ngFor="let cat of categoria" value="{{cat._id}}">{{cat.categoria}}</option>
                    </select>
                    <a *ngIf="chek" class="btn btn-lg btn-outline-primary" (click)="open(content)"><i *ngIf="chek" class="fas fa-plus"></i>Nueva Categoria</a>
                  </div>

                  <input class="btn btn-warning" type="submit" value="{{titulo}}">

            </form>


        </div>
    </div>
</div>
