<app-navbar></app-navbar>

<div class="container" style="color:#000;">
  <div class="row">
    <div class="col-12">
          <form (ngSubmit)="onSubmit()" #registerForm="ngForm" *ngIf="!identity">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="userR.email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="userR.password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Nombres</label>
          <input type="text" name="name" #name="ngModel" [(ngModel)]="userR.name" class="form-control" id="inputAddress" placeholder="Juan Gustito">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Apellidos</label>
          <input type="text" name="surname" #surname="ngModel" [(ngModel)]="userR.surname" class="form-control" id="inputAddress2" placeholder="Perez Garvajal">
        </div>
        <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div> -->
        <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
    </div>
  </div>
</div>
