<app-navbar></app-navbar>

<!-- services Section
   ================================================== -->
   <section id="services" class="body">




    <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                  <span class="icon"><i class="fas fa-file-code fa-5x"></i></span>
                <h3>Desarrollo Web</h3>
                <p>Desarrollamos todo tipo de aplicaciones Web: Inventario, Facturacion, Planillas y mas.</p>

              </div><!-- /.col-lg-4 -->

              <div class="col-lg-4">
                  <span class="icon"><i class="fas fa-laptop fa-5x"></i></span>
                <h2>Diseño Web</h2>
                <p>Sitios Web, Gestores de Contenidos, Tiendas en Linea, Font-End y Back-End</p>

              </div><!-- /.col-lg-4 -->

              <div class="col-lg-4">
                  <span class="icon"><i class="fas fa-mobile fa-5x"></i></span>
               <h2>Diseño de App Moviles</h2>
                <p>Te diseñamos tu app movil para Android, Ios y Android con las mejores tecnologias.</p>

              </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->


             <!-- Three columns of text below the carousel -->
             <div class="row">
                <div class="col-lg-4">
                    <span class="icon"><i class="fas fa-wifi fa-5x"></i></span>
                  <h3>Redes</h3>
                  <p>Contamos con personal altamente calificado para realizar trabajos de infraestructura de redes para su empresa...</p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4">
                    <span class="icon"><i class="fas fa-laptop fa-5x"></i></span>
                  <h2>Diseño Web</h2>
                  <p>Sitios Web, Gestores de Contenidos, Tiendas en Linea, Font-End y Back-End</p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4">
                    <span class="icon"><i class="fas fa-credit-card fa-5x"></i></span>
                 <h2>Ecommerce</h2>
                  <p>Tiendas en linea integracion con pasarelas de pagos como paypal en cualquier sitio web de comercio electronico.</p>

                </div><!-- /.col-lg-4 -->

              </div><!-- /.row -->

            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">


          </div>

	</section> <!-- /services -->
<app-footer></app-footer>
