<app-navbar></app-navbar>
<app-facecomponent></app-facecomponent>
<!-- about section
  ================================================== -->
  <section class="container body">

    <div class="row">
      <div class="col-12">


        <h1 class="h1 text-center">Dejame Presentarme.</h1>

        <div class=" text-center">

          <img class="col-4 img-fluid rounded mx-auto d-block" src="../../assets/img/jorge.jpg" alt="Profile Picture">

          </div>
          <p class="lead">Soy Ingeniero en Sistemas de Información graduado de la UNAN-LEÓN. Me gusta ser Autodidacta, tomar siempre nuevos retos en los que aprendere cosas nueva sobre mi profesión. Me dedico 100% de mi a los proyectos que tomo. Con varios años de experiencias con multiples tecnologias.</p>

      </div>
    </div> <!-- /section-intro -->

    <div class="row about-content">

      <div class="col-six tab-full">

        <h3>Perfil</h3>
        <p style="color:black; font-size:initial;">A contonuación detallo mi perfil personal con mis datos completos.</p>

        <ul class="info-list">
          <li>
            <strong>Nombre Completo:</strong>
            <span>Jorge Antonio Castillo Moreno</span>
          </li>
          <li>
            <strong>Fecha de Nacimiento:</strong>
            <span>03 de Febrero, 1991</span>
          </li>
          <li>
            <strong>Trabajo:</strong>
            <span>Freelancer, Desarrollador Back-End</span>
          </li>
          <li>
            <strong>Empleo Actual:</strong>
            <span>Institución del Gobierno de Nicaragua</span>
          </li>
          <li>
            <strong>Sitio Web:</strong>
            <span>www.jorgecastillodevelop.pro</span>
          </li>
          <li>
            <strong>Email:</strong>
            <span>jorgeantonio20142014@gmail.com</span>
          </li>

        </ul> <!-- /info-list -->

      </div>

      <div class="col-six tab-full">

        <h3>Habilidades</h3>
        <p style="color:black;font-size:initial;">A continiación detallo las habilidades que he obtenido a lo largo de mi carrera como ingeniero en sustemas.</p>

       <ul class="skill-bars">
          <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
          </div>
          <strong>HTML5</strong>
       <hr>
          <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
          </div>
            <strong>CSS3</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <strong>JQuery</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <strong>PHP</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <strong>SQL</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <strong>C#</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <strong>VB.NET</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <strong>NODEJS</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>
            <strong>RUBY ON RAILS</strong>
            <hr>

            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <strong>ASP.NET</strong>
            <hr>
            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <strong>ANGULAR JS</strong>
            <hr>

            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width:85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <strong>BASE DE DATOS</strong>
            <hr>

            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <strong>SISTEMAS OPERATIVOS</strong>
            <hr>

            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <strong>REDES</strong>
            <hr>

       </ul> <!-- /skill-bars -->

      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <a [routerLink]="['/contacto']" title="Hire Me" class="btn btn-dark text-center">Contactar</a>
        <!-- <a href="#" title="Download CV" class="button button-primary">Descargar CV</a> -->
      </div>
    </div>



   <!-- resume Section
   ================================================== -->


		<div class="row section-intro">
   		<div class="col-twelve">


        <hr>
   			<h1 class="text-center">Mas de mis Credenciales</h1>

   			<p class="lead">Dejame mostrarte las experiencia que he obtenido en estos años que tengo trabajando como Ing. en sistemas.</p>

   		</div>
   	</div> <!-- /section-intro-->


   			<h2 class="text-center">Experiencias de Trabajo</h2>
   		<div class="container">

   			<div class="row">

   				<div class="col-12" *ngFor="let perfil of perfils">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
               <a *ngIf="identity && identity.roles.roles=='administrador'" [routerLink]="['/updateperfil',perfil._id]"><h3>{{perfil.nameexp}}</h3></a>
               <a *ngIf="!identity"><h3>{{perfil.nameexp}}</h3></a>
               <a *ngIf="identity && identity.roles.roles=='administrador'"  (click)="onDeletePerfil(perfil._id)" class="btn btn-warning">Eliminar Perfil</a>
	   					<p>Desde {{perfil.fecha_inicio}} Hasta {{perfil.fecha_final}}</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>{{perfil.name_empresa}}</h4>
	   					<p>{{perfil.descrip_exp}}</p>
	   				</div>


	   			</div> <!-- /timeline-block -->



   			</div> <!-- /timeline-wrap -->

   		</div> <!-- /col-twelve -->


   	<hr>

   			<h2 class="text-center">Education</h2>
   		<div class="container">

   			<div class="row">

   				<div class="col-12" *ngFor="let educacion of educacions">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
              <a *ngIf="identity && identity.roles.roles=='administrador'" [routerLink]="['/updateeducacion',educacion._id]"><h3>{{educacion.name_titulo}}</h3></a>
              <a *ngIf="!identity"><h3>{{educacion.name_titulo}}</h3></a>
              <a *ngIf="identity && identity.roles.roles=='administrador'"  (click)="onDeleteEducacion(educacion._id)" class="btn btn-warning">Eliminar Educacion</a>
	   					<p>Desde {{educacion.fecha_inicio}} Hasta {{educacion.fecha_final}}</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>{{educacion.name_inst}}</h4>
	   					<p>{{educacion.descrip_inst}}</p>
	   				</div>

	   			</div> <!-- /timeline-block -->
         </div> <!-- /timeline-wrap -->


         <fb-comments numposts="3"></fb-comments>
   		</div> <!-- /col-twelve -->



	</section> <!-- /features -->
<app-footer></app-footer>
