<app-navbar></app-navbar>
<div class="col-10" style="color: #000;">
  <table *ngIf="identity && identity.roles.roles=='administrador'" class="table">
        <thead>
          <tr>

            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo</th>
            <th scope="col">Activo</th>
          </tr>
        </thead>
        <tbody *ngFor="let list of users">
          <tr  *ngIf="list.activo==0" class="table-danger">
                <td>{{list.name}}</td>
                <td>{{list.surname}}</td>
                <td><a [routerLink]="['/useredit',list._id]">{{list.email}}</a></td>
                <td *ngIf="list.activo!=0"><span class="badge badge-primary">Activo</span></td>
                <td *ngIf="list.activo==0"><span class="badge badge-danger">Inactivo</span></td>
          </tr>
          <tr  *ngIf="list.activo!=0" class="table-primary">
            <td>{{list.name}}</td>
            <td>{{list.surname}}</td>
            <td><a [routerLink]="['/useredit',list._id]">{{list.email}}</a></td>
            <td *ngIf="list.activo!=0"><span class="badge badge-primary">Activo</span></td>
            <td *ngIf="list.activo==0"><span class="badge badge-danger">Inactivo</span></td>
         </tr>

        </tbody>
      </table>
</div>
