<app-navbar></app-navbar>

<div class="col-12">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" *ngIf="identity && identity.roles.roles=='administrador'">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <!-- <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" id="inputPassword4" placeholder="Password">
      </div> -->
    </div>
    <div class="form-group">
      <label for="inputAddress">Nombres</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" id="inputAddress" placeholder="Juan Gustito">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" id="inputAddress2" placeholder="Perez Garvajal">
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div> -->

      <div class="form-group col-md-4">
        <label for="inputState">Estado</label>
        <select name="activo" class="form-control" #activo="ngModel" [(ngModel)]="user.activo">
          <option value="1" selected>Activo</option>
          <option value="0">Inactivo</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputState">Rol</label>
        <select name="roles" class="form-control" #roles="ngModel" [(ngModel)]="user.roles">
          <option value="5a32b2478f27c41d78a7946f" selected>Usuario</option>
          <option value="5a99b9195dc7131e2c5c3d2e">administrador</option>
        </select>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
